<p class="text-gray-800 leading-7">
    The artifact I selected is an Android inventory tracking application that I originally developed in CS 360: Mobile
    Architecture and Programming. I created it using Java and a local SQLite database, allowing users to add, edit, and
    delete inventory items directly on their devices. At that time, the app was simple and functional, offering a
    straightforward interface for managing inventory, but it lacked modern development practices and scalability.
</p>