<p class="text-gray-800 leading-7">
    The three biggest challenges I faced were implementing the Red-Black Tree (RBT), integrating the benchmarking system,
    and reorganizing the program into separate files. Getting the RBT to work was the most challenging part because I
    had to determine how to handle rotations and recoloring while maintaining the tree's balance and ensuring that the
    search and insertion logic remained intact. It took some trial and error, but this experience greatly enhanced my
    understanding of how self-balancing trees operate. Integrating the benchmarks presented another challenge. I needed
    to ensure that both the hash table and the RBT could be tested consistently and compared fairly. This involved
    developing standardized functions for loading, searching, and iterating through each structure. Finally,
    modularizing the program into multiple files represented a significant departure from the original single-file
    design. This change compelled me to think critically about code organization, dependencies, and how to keep each
    component clean and reusable.
</p>