<p class="mt-2 text-gray-600">
    In this enhancement, I migrated my entire Android Inventory Tracking application from Java to Kotlin and redesigned
    the user interface to be more intuitive and modern. I improved code readability by modularizing and refining naming
    conventions, making the program more maintainable and scalable. Additionally, I implemented Firebase Authentication,
    added Google sign-in, and configured it to support integration with additional sign-in providers in the future. This
    foundation lays the groundwork for future cloud integration and enhances user access security.
</p>