<p class="text-gray-800 leading-7">
    This enhancement directly aligns with two key course outcomes. First, it demonstrates the ability to develop a
    security mindset that anticipates vulnerabilities and ensures privacy through secure software architecture. By
    implementing Firebase Authentication, I ensured that only verified users could access the database. The
    Firestore Security Rules I created followed the principle of least privilege, granting users access only to
    the data they owned or to the group inventories to which they were members. Each write operation was validated
    to enforce data type integrity and structural consistency, reducing the likelihood of unauthorized or malformed
    data.
</p>